<div class="player">
    <div class="player-bottom">
        <div class="player-track">
            <div class="description-group">
                <div class="description-group-item">
                    <img src="https://cdns-images.dzcdn.net/images/cover/1a5f34fb1ce5ebad0557c06d90edba5c/1000x1000-000000-80-0-0.jpg" alt="">
                </div>
                <div class="description-group-item">
                    <p class="titulo">Cancion</p>
                    <p class="subtitulo">Artista - Album</p>
                </div>
            </div>
        </div>
        <div class="player-controls">
            <ul class="icon-group">
                <li class="icon-group-item">
                    <button type="button" class="icon-group-btn" aria-label="Anterior"><i class="fas fa-step-backward fa-2x"></i></button>
                </li>
                <li class="icon-group-item">
                    <button type="button" class="icon-group-btn reproducir" aria-label="Reproducir"><i class="fas fa-play fa-2x"></i></button>
                </li>
                <li class="icon-group-item">
                    <button type="button" class="icon-group-btn" aria-label="Siguiente"><i class="fas fa-step-forward fa-2x"></i></button>
                </li>
            </ul>
        </div>
        <div class="player-options">
            <div class="group-volume">
                <div class="group-volume-item">
                    <input class="volume" type="range" value="1" min="1" max="100">
                </div>
                <div class="group-volume-item">
                    <button><i class="fas fa-volume-up fa-2x"></i></button>
                </div>

            </div>
        </div>
    </div>
</div>